Tree {
  /* actual values */
  background-color: #ffff00;
  background-image: none;
  color: #000000;
  font-family: "Segoe UI";
  font-size: 9;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  visibility: visible;
}